body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html, body {
    height: auto;
    color: rgba(34, 34, 34, 1);
    font-size: 62.5%;
    font-family: YakuHanJP, 'Noto Sans JP', 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.01rem;
    font-feature-settings: 'palt';
    -webkit-font-feature-settings: 'pkna';
    -webkit-font-smoothing: antialiased;
    writing-mode: horizontal-tb;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.19em;
}